= form_with model: user_password, url: password_shares_path(@password) do |form|
  - if form.object.errors.any?
    - form.object.errors.full_messages.each do |message|
      %p.px-4.rounded.inline-block.bg-danger-100.text-center.text-danger-800.mt-4
        = message

  .flex.flex-wrap.-mx-3.mb-6
    .w-full.px-3.mb-6.md:mb-0{class: "md:w-1/2"}
      = form.label :user_id, class: "block uppercase tracking-wide text-text-800 text-xs font-bold mb-2"
      = form.collection_select :user_id, password.shareable_users, :id, :email, { class: "appearance-none block w-full bg-background-950 text-text-800 border border-primary-500 rounded py-3 px-4 leading-tight focus:bg-background-200 focus:border-accent-500" }

    .w-full.px-3{class: "md:w-1/2"}
      = form.label :role, class: "block uppercase tracking-wide text-text-800 text-xs font-bold mb-2"
      = form.select :role, UserPassword::ROLES.map{ |r| [r.titleize, r] }, { class: "appearance-none block w-full bg-background-950 text-text-800 border border-primary-500 rounded py-3 px-4 leading-tight focus:bg-background-200 focus:border-accent-500" }

  .my-4
    %button{:type => "submit", :class => "py-2 px-4 bg-primary-500 text-white font-semibold rounded-md hover:bg-primary-600 focus:outline-none focus:ring focus:border-primary-700"}
      Share Password
