= form_with model: password do |form|
  - if form.object.errors.any?
    - form.object.errors.full_messages.each do |message|
      %div 
        = message 

  %div 
    = form.label :url
    = form.url_field :url

  %div 
    = form.label :username
    = form.text_field :username

  %div 
    = form.label :password
    = form.password_field :password

  %div
    = form.submit
    = button_tag "Delete", form: "delete_password" if form.object.persisted? && current_user_password.deleteable?

= form_with model: password, method: :delete, id: "delete_password", data: {turbo_confirm: "Are you sure?"}