= turbo_frame_tag :password, target: "info" do
  = tag.div id: dom_id(password) do
    .bg-primary-500.rounded.mb-2.hover:bg-primary-600
      = link_to password, class: "no-underline text-center text-accent-500" do
        .grid.grid-cols-4.hover:grid-cols-4.gap-4
          .overflow-hidden
            = password.username
          .div  
            **********
          .div  
            = password.users.size
          .div  
            some

