= turbo_frame_tag dom_id(password), target: "info" do
  = link_to password, class: "no-underline text-text-700 hover:text-primary-500", data: { turbo_frame: :info } do
    .grid.grid-cols-7.text-text-700.hover:bg-primary-300.hover:text-text-900{class: cycle('bg-primary-200', 'bg-primary-100')}
      .px-2.col-span-2
        .truncate
          = password.url
      .px-2.col-span-2
        .truncate
          = password.username
      .px-2.col
        **********
      .px-2.col
        = password.users.size
      .px-2.col
        = password.created_at.strftime('%d/%m/%Y')
