= turbo_frame_tag dom_id(password), target: "info" do
  %tr.hover:bg-primary-100
    %td
      = link_to password.url, password, class: "no-underline text-text-700 hover:text-primary-500", data: { turbo_frame: :info }
    %td
      = link_to password.username, password, class: "no-underline text-text-700 hover:text-primary-500", data: { turbo_frame: :info }
    %td
      = link_to '**********', password, class: "no-underline text-text-700 hover:text-primary-500", data: { turbo_frame: :info }
    %td
      = link_to password.users.size , password, class: "no-underline text-text-700 hover:text-primary-500", data: { turbo_frame: :info }
    %td 
      = link_to password.created_at.strftime('%d/%m/%Y'), password, class: "no-underline text-text-700 hover:text-primary-500", data: { turbo_frame: :info }


-# .bg-primary-500.rounded.mb-2.hover:bg-primary-600
-#   = link_to password, class: "no-underline text-center text-accent-500" do
-#     .grid.grid-cols-5.hover:grid-cols-5.gap-4
-#       .overflow-hidden
-#         = password.url
-#       .overflow-hidden
-#         = password.username
-#       .div  
-#         **********
-#       .div  
-#         = password.users.size
-#       .div  
-#         = password.created_at.strftime('%d/%m/%Y')

  
