= turbo_frame_tag "application_content" do
  = turbo_frame_tag "info" do
    = link_to "New Password", new_password_path, class: "block mb-4 no-underline inline text-sx text-accent-600 hover:text-accent-700"

    .mb-4.flex.justify-between.items-center
      %h1.mb-0.text-text-950
        Your Passwords
  
  %table.table-auto
    %thead
      %tr
        %th.text-text-800
          Website
        %th.text-text-800
          Username/Email 
        %th.text-text-800 
          Password 
        %th.text-text-800 
          Shared With 
        %th.text-text-800 
          Created At
    %tbody
      = turbo_frame_tag :passwords do
        = render @passwords