= turbo_frame_tag "application_content" do
  = turbo_frame_tag "info" do
    = link_to "New Password", new_password_path, class: "block mb-4 no-underline inline text-sx text-accent-600 hover:text-accent-700"

    .mb-4.flex.justify-between.items-center
      %h1.mb-0.text-text-950
        Your Passwords

  .overflow-y-scroll.rounded-md
    .grid.grid-cols-7.text-white.bg-primary-500.font-semibold
      .px-2.col-span-2
        Website
      .px-2.col-span-2
        Username
      .px-2.col
        Password
      .px-2.col
        Shared
      .px-2.col
        Created

    = turbo_frame_tag :passwords do
      = render @passwords